# Featuring engineering

## Librerías

In [348]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt 
import seaborn as sns 
from math import sqrt 
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

Cargamos el dataset con las modificaciones hechas en el Análisis Exploratorio y primer procesamiento de los datos:

In [350]:
LOAN = pd.read_csv("../data/intermediate/LOAN.csv", delimiter =",")
LOAN

,addr_state,annual_inc,application_type,dti,emp_length,home_ownership,initial_list_status,int_rate,loan_amnt,mort_acc,open_acc,pub_rec_bankruptcies,purpose,revol_bal,revol_util,sub_grade,term,total_acc,verification_status,loan_status
0,CA,5.184694,Individual,16.99,6.0,OWN,w,7.35,11575.0,2.0,20.0,1.0,credit_card,3.932017,22.7,A4,36,46.0,Not Verified,Fully Paid
1,WA,4.698979,Individual,6.07,2.0,RENT,w,24.85,7200.0,0.0,4.0,0.0,debt_consolidation,3.551572,98.9,E3,36,5.0,Source Verified,Fully Paid
2,TX,5.041397,Individual,13.12,7.0,MORTGAGE,w,7.35,7500.0,4.0,19.0,0.0,debt_consolidation,4.368268,27.2,A4,36,27.0,Not Verified,Fully Paid
3,CA,4.715836,Individual,10.11,7.0,RENT,w,16.02,10000.0,0.0,15.0,2.0,debt_consolidation,3.758458,20.0,C5,60,21.0,Source Verified,Fully Paid
4,MA,4.875067,Individual,10.86,7.0,MORTGAGE,w,16.02,14000.0,1.0,4.0,0.0,debt_consolidation,3.431525,90.0,C5,36,10.0,Verified,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442562,TX,4.404851,Individual,27.08,10.0,RENT,f,15.59,11575.0,0.0,9.0,0.0,credit_card,4.261667,65.0,D1,36,18.0,Verified,Fully Paid
442563,OH,4.799347,Individual,23.69,0.0,MORTGAGE,f,11.99,12000.0,1.0,13.0,0.0,credit_card,4.324509,69.7,B5,36,61.0,Verified,Charged Off
442564,TN,4.544080,Individual,30.90,5.0,RENT,w,15.99,13000.0,0.0,9.0,1.0,debt_consolidation,4.042654,61.3,D2,60,22.0,Verified,Charged Off
442565,MA,4.808893,Individual,27.19,1.0,RENT,w,19.99,12000.0,0.0,17.0,0.0,debt_consolidation,3.916717,30.6,E3,60,20.0,Source Verified,Charged Off
442566,FL,5.000004,Individual,10.83,10.0,RENT,f,11.99,20000.0,0.0,8.0,0.0,credit_card,4.522014,79.8,B5,36,10.0,Verified,Fully Paid

In [ ]:
LOAN.dtypes

Vemos que la variable `term` aparece como numérica ya que en EDA la convertimos para las representaciones y tratamiento de Nan's.


La convertimos a object para tomarla como variable categórica.

In [351]:
LOAN['term'] = LOAN['term'].apply(str)

In [352]:
LOAN.dtypes

addr_state               object
annual_inc              float64
application_type         object
dti                     float64
emp_length              float64
home_ownership           object
initial_list_status      object
int_rate                float64
loan_amnt               float64
mort_acc                float64
open_acc                float64
pub_rec_bankruptcies    float64
purpose                  object
revol_bal               float64
revol_util              float64
sub_grade                object
term                     object
total_acc               float64
verification_status      object
loan_status              object
dtype: object

# 1. Dummies y escalado

Vimos que obteníamos demasiadas variables. La __variable `addr_state`__tiene demasiados tipos (muchos Estados), por tanto, decidimos __quitarla__ y así poder conseguir un número menor de variables. Además, hay que decir que cuando hicimos el Análisis Exploratorio, tampoco había muchas diferencias entre individuos que pagarón o cancelaron según el Estado en el que vivían. Nos quedamos así con 19 variables.

In [353]:
# Eliminamos la variable de 'addr_state'
LOAN.drop("addr_state", axis=1, inplace=True)

In [ ]:
LOAN

__Diferenciamos__ en dos objetos las __variables numéricas y las categóricas__:

In [354]:
variables_numericas = LOAN.select_dtypes(include = [np.number])
variables_categoricas = LOAN.select_dtypes(include = [np.object])

In [ ]:
variables_categoricas

In [ ]:
# Vemos las categóricas (8):
variables_categoricas.columns

In [ ]:
# Vemos las numéricas (11):
variables_numericas.columns

## 1.1 Normalizamos las variables numéricas

In [355]:
scaler = preprocessing.StandardScaler()

numericas_escaladas = scaler.fit_transform(variables_numericas)
numericas_escaladas = pd.DataFrame(numericas_escaladas, columns = [variables_numericas])

Vemos como han quedado las variables después de normalizarlas:

In [356]:
numericas_escaladas.head()

,annual_inc,dti,emp_length,int_rate,loan_amnt,mort_acc,open_acc,pub_rec_bankruptcies,revol_bal,revol_util,total_acc
0,1.601835,-0.157682,0.081610,-1.321041,-0.351811,0.157875,1.502962,2.145481,-0.154017,-1.274923,1.642029
1,-0.489987,-1.409073,-0.961618,2.592857,-0.866473,-0.915189,-1.428406,-0.372109,-0.932286,1.921663,-1.730120
2,0.984698,-0.601169,0.342417,-1.321041,-0.831182,1.230939,1.319751,-0.372109,0.738413,-1.086148,0.079326
3,-0.417387,-0.946104,0.342417,0.618016,-0.537090,-0.915189,0.586909,4.663070,-0.509064,-1.388188,-0.414159
4,0.268369,-0.860157,0.342417,0.618016,-0.066541,-0.378657,-1.428406,-0.372109,-1.177864,1.548308,-1.318882

## 1.2 Convertimos la variable _loan_status_ en _dummie_

In [357]:
variables_categoricas['Charged_off'] = (variables_categoricas['loan_status'] == 'Charged Off').apply(np.uint8)
variables_categoricas.drop('loan_status', axis=1, inplace=True)

<ipython-input-357-7973bae42138>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  variables_categoricas['Charged_off'] = (variables_categoricas['loan_status'] == 'Charged Off').apply(np.uint8)
/Users/luzi/opt/anaconda3/envs/loan_env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## 1.3 Dummies del resto de variables categóricas

Los algoritmos de aprendizaje automático requieren que las variables de entrada y salida sean numéricas. Esto implica que los datos categóricos deben ser codificados en números antes de que podamos usarlos para ajustar y evaluar un modelo. Hay muchas maneras de codificar variables categóricas para el modelado.

Utilizamos el método de _One-Hot Encoding_ con la función `pd.get_dummies`.

In [358]:
variables_categoricas = pd.get_dummies(variables_categoricas, columns=['application_type', 'home_ownership', 'initial_list_status', 'purpose',
       'sub_grade', 'term', 'verification_status'])

In [333]:
variables_categoricas

,Charged_off,application_type_Individual,application_type_Joint App,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,initial_list_status_f,initial_list_status_w,purpose_car,purpose_credit_card,...,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_36,term_60,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,0,1,0,0,1,0,0,1,0,1,...,0,0,0,0,0,1,0,1,0,0
1,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
3,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
4,0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442562,0,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,1
442563,1,1,0,1,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,1
442564,1,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
442565,1,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
442566,0,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [359]:
variables_categoricas.index = range(variables_categoricas.shape[0])

In [360]:
variables_categoricas.dtypes

Charged_off                            int64
application_type_Individual            uint8
application_type_Joint App             uint8
home_ownership_MORTGAGE                uint8
home_ownership_OWN                     uint8
                                       ...
term_36                                uint8
term_60                                uint8
verification_status_Not Verified       uint8
verification_status_Source Verified    uint8
verification_status_Verified           uint8
Length: 62, dtype: object

Concatenamos ambos dataframes:

In [361]:
LOAN_var_norm = pd.concat([numericas_escaladas, variables_categoricas], axis = 1)

In [362]:
LOAN_var_norm

,"(annual_inc,)","(dti,)","(emp_length,)","(int_rate,)","(loan_amnt,)","(mort_acc,)","(open_acc,)","(pub_rec_bankruptcies,)","(revol_bal,)","(revol_util,)",...,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,term_36,term_60,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,1.601835,-0.157682,0.081610,-1.321041,-0.351811,0.157875,1.502962,2.145481,-0.154017,-1.274923,...,0,0,0,0,0,1,0,1,0,0
1,-0.489987,-1.409073,-0.961618,2.592857,-0.866473,-0.915189,-1.428406,-0.372109,-0.932286,1.921663,...,0,0,0,0,0,1,0,0,1,0
2,0.984698,-0.601169,0.342417,-1.321041,-0.831182,1.230939,1.319751,-0.372109,0.738413,-1.086148,...,0,0,0,0,0,1,0,1,0,0
3,-0.417387,-0.946104,0.342417,0.618016,-0.537090,-0.915189,0.586909,4.663070,-0.509064,-1.388188,...,0,0,0,0,0,0,1,0,1,0
4,0.268369,-0.860157,0.342417,0.618016,-0.066541,-0.378657,-1.428406,-0.372109,-1.177864,1.548308,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442562,-1.756702,0.998595,1.124838,0.521846,-0.351811,-0.915189,-0.512354,-0.372109,0.520341,0.499560,...,0,0,0,0,0,1,0,0,0,1
442563,-0.057731,0.610113,-1.483232,-0.283299,-0.301816,-0.378657,0.220488,-0.372109,0.648895,0.696725,...,0,0,0,0,0,1,0,0,0,1
442564,-1.157084,1.436353,-0.179197,0.611307,-0.184178,-0.915189,-0.512354,2.145481,0.072311,0.344345,...,0,0,0,0,0,0,1,0,0,1
442565,-0.016623,1.011200,-1.222425,1.505912,-0.301816,-0.915189,0.953330,-0.372109,-0.185316,-0.943518,...,0,0,0,0,0,0,1,0,1,0
442566,0.806434,-0.863595,1.124838,-0.283299,0.639281,-0.915189,-0.695564,-0.372109,1.052926,1.120419,...,0,0,0,0,0,1,0,0,0,1

In [363]:
LOAN_var_norm.shape

(442567, 73)

El dataframe resultante se queda en 73 variables.

In [364]:
# Guardamos el dataframe con el que entrenaremos los modelos:
LOAN_var_norm.to_csv('../data/intermediate/LOAN_var_norm.csv', index=False)